<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"    package="com.paix.invenocoverage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:supportsRtl="true">
        <service
            android:name="service.InvenoCoverageService">
        </service>

        <receiver android:name="broadcast.InvenoCoverageBroadcast">
            <intent-filter>
                <action android:name="com.paix.invenocoverage.broadcast.InvenoCoverageBroadcast"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>